

body {
  font-family: 'Muli', sans-serif;
}

h1, .title{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  position: relative;
}

li {
    float: left;
}

.userinfo {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
